.btn-group {
    margin: 3px 0;
}

.done .word {
    background: #AAFBAA;
}

.tags.done {
    background: #AAFBAA;
}

.progress {
    height: 8px;
    margin: 10px 0;
}

.label-post {
    background: #8B0000;
}

.label-nmbr {
    background: #0000CD;
}

.label-gndr {
    background: #006400;
}

.label-CAse {
    background: #FF4500;
}

.label-ANim {
    background: #008080;
}

.label-aspc {
    background: #2F4F4F;
}

.label-tense {
    background: #7B68EE;
}

.label-lemma {
    background: white;
    color: black;
    border: 1px solid silver;
}

p.lead {
    text-align: left;
}

.no-word-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.bootstrap-tagsinput .tt-input {
    line-height: 22px;
    display: inline-block;
}

.bootstrap-tagsinput .tag {
    line-height: 17px;
}

.bootstrap-tagsinput {
    height: 37px;
}

.tt-suggestion {
    line-height: 1.3em;
}

.tt-suggestion p {
    margin: 0;
}

.mfp-bg {
    background: none;
}

.popup-tagsinput .bootstrap-tagsinput {
    float: left;
    width: 80%;
    margin-right: 20px;
}

.popup-tagsinput .btn-save {
    float: left;
}

.lemma-autocomplete {
    margin-bottom: 5px;
    border-radius: 4px;
    height: 37px;
    padding: 4px 6px;
    line-height: 22px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333;
}