<div>
    <h1>Tagging demo</h1>
    <div class="progress total-progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="lead" id="out"></p>
</div>

<script id="tagme_template" type="text/x-handlebars-template">
    {% raw %}
    {{#each sentence}}
    {{#strictif [1]}}
    <div class="btn-group word-wrapper">
        <a href="" class="btn btn-default dropdown-toggle word" data-toggle="dropdown" aria-expanded="false">{{ [0] }}</a>
        <ul class="dropdown-menu" role="menu">
            {{#each [1]}}

                <li><a class="tags" href="#" data-tags="{{#each this}}{{ [0] }}:{{/each}}">
                    {{#each this}}
                    <span class="label label-default label-{{ [1] }}">{{ [0] }}</span>
                    {{/each}}<div class="clearfix"></div></a>
                </li>

            {{/each}}
            <li><a href="#" class="tags" data-tags="NONE">Коректний варіант відсутній</a></li>
        </ul>
    </div>
    {{ else }}
    {{ [0] }}
    {{/strictif}}
    {{/each}}
    {% endraw %}
</script>