<p>
	Вже вечір вечоріє, повстанське серце б’є,<br/>
	А лента набої поспішно подає.
</p>

<p>
<strong>Приспів:</strong><br/>
Ах, лента за лентою – набої продавай,<br/>
Вкраїнський повстанче, в бою не відступай!<br/>
Ах, лента за лентою – набої продавай,<br/>
Вкраїнський повстанче, в бою не відступай!<br/>
</p>

<p>
А ворог атакує і преться щосил,
Юнак-кулеметник їх вправно косив.
</p>

<p><strong>Приспів</strong></p>

<p>
Як сонце сходило, втомлений юнак,<br/>
Упав він ранений, упав він навзнак.
</p>

<p><strong>Приспів</strong></p>

<p>
До нього санітарка поспішно іде,<br/>
В обличчя вдивляєсь, його пізнає.
</p>

<p><strong>Приспів</strong></p>

<p>
Він в неї вдивляєсь, пече в грудях рана,<br/>
Біля кулемета дівчина молода.
</p>

<p><strong>Приспів</strong></p>

<p>
А ворог атакує, в останній момент – <br/>
Наново заграв вже затихлий кулемет.
</p>

<p><strong>Приспів (2)</strong></p>